.InfoPage > main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 30px;
}

.InfoPage > h1 {
  text-align: center;
  margin: 60px 0 25px;
}

.info_block {
  margin: 5% 30px 20px;
  width: 33%;
}

.info_block > img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.info_block > h2 {
  margin: 0;
  font-size: 1.1em;
}

.info_block > p {
  margin: 10px 0 10px;
  color: #636262;
  line-height: 1.5em;
}

@media only screen and (max-width: 1000px) {
  .InfoPage > h1 {
    margin: 40px 0 5px;
  }
}

@media only screen and (max-width: 800px) {
  .InfoPage {
    margin: 290px 0 20px;
  }
  
  .InfoPage > main {
    flex-direction: column;
  }

  .InfoPage > h1 {
    margin: 30px 0 50px;
  }

  .info_block {
    width: initial;
    margin: 0 20px 20px;
  }

  .info_block > img {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .InfoPage > h1 {
    font-size: 1.6em;
    margin: 30px 0;
  }

  .InfoPage > main {
    margin: 5% 10px 20px;
  }
}