
.question-panel{
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding: 30px 10px 30px 40px;
    width: 50%;
    height: 130px;
    border: 3px solid lightgrey;
    /* background-color: blue; */
}

.previous-question{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px 10px 30px 40px;
    width: 50%;
    height: 75px;
    border: 3px solid lightgrey;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 2em;
}

button{
    display: relative;
    float: right;
    margin-top: 1em;
    height: 2em;
    margin-right: 7em;
    margin-bottom: 1em;
    cursor: pointer;
}

ul{
    list-style: none;
}
li {
    text-align: center;
    margin-left: -4em;
    font-size: x-large;
    font-weight: bold;
}

@keyframes fromRed {
    from {border-color: #f44336;}
    to {border-color: lightgrey;}
}

@keyframes fromGreen {
    from {border-color: green;}
    to {border-color: lightgrey;}
}


.red{
    /* border: 1px solid #f44336;  */
    animation-name: fromRed;
    animation-duration: 3s;
}

.green{
    /* border: 3px solid lightgreen; */
    animation-name: fromGreen;
    animation-duration: 3s;
}

@media (max-width: 470px){

    .question-panel{
        width: 75%;
    }
    
    .previous-question{
        width: 75%;
    }

    button{
        margin-right: 4em;
    }
}

@media (max-width: 350px){

    .question-panel{
        width: 100%;
         padding: 30px 10px 30px 0;
    }
    
    .previous-question{
        width: 100%;
    }

    input{
        display: relative;
        float: center;
        width: 50%;
    }
}